---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=openweather_api_key&exclude=minutely,alerts&lat=39.738453&lon=-104.9848531&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1655187446,"sunrise":1655206286,"sunset":1655260150,"temp":65.75,"feels_like":63.66,"pressure":999,"humidity":35,"dew_point":37.38,"uvi":0,"clouds":18,"visibility":10000,"wind_speed":4,"wind_deg":146,"wind_gust":8.99,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"hourly":[{"dt":1655186400,"temp":65.75,"feels_like":63.66,"pressure":999,"humidity":35,"dew_point":37.38,"uvi":0,"clouds":18,"visibility":10000,"wind_speed":10.51,"wind_deg":20,"wind_gust":18.45,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1655190000,"temp":66.13,"feels_like":64.04,"pressure":1000,"humidity":34,"dew_point":36.97,"uvi":0,"clouds":14,"visibility":10000,"wind_speed":5.23,"wind_deg":29,"wind_gust":6.69,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1655193600,"temp":65.55,"feels_like":63.5,"pressure":1001,"humidity":36,"dew_point":37.92,"uvi":0,"clouds":11,"visibility":10000,"wind_speed":7.87,"wind_deg":73,"wind_gust":10.54,"weather":[{"id":801,"main":"Cl[...]
