---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=mapquest_api_key&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 11 Jun 2022 00:11:46 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=mapquest_api_key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-657025759"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=mapquest_api_key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1660760735"}]}]}'
  recorded_at: Sat, 11 Jun 2022 00:11:46 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=mapquest_api_key&location=%7B:params=%3E%5B:location%5D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 11 Jun 2022 18:59:42 GMT
      Reversegeocodetransactioncount:
      - '0'
      [...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=1fbaf3fd14a43b07bb690e719b1248a6&exclude=minutely,alerts&lat=44.43932&lon=-69.86769&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.4393,"lon":-69.8677,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1654974436,"sunrise":1654937685,"sunset":1654993422,"temp":74.08,"feels_like":73.96,"pressure":1010,"humidity":59,"dew_point":58.86,"uvi":3.44,"clouds":20,"visibility":10000,"wind_speed":5.75,"wind_deg":210,"wind_gust":19.57,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1654974000,"temp":74.08,"feels_like":73.96,"pressure":1010,"humidity":59,"dew_point":58.86,"uvi":3.44,"clouds":20,"visibility":10000,"wind_speed":6.96,"wind_deg":248,"wind_gust":10.65,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1654977600,"temp":74.52,"feels_like":74.21,"pressure":1010,"humidity":54,"dew_point":56.8,"uvi":2.35,"clouds":36,"visibility":10000,"wind_speed":8.1,"wind_deg":258,"wind_gust":10.8,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1654981200,"temp":72.18,"feels_like":71.67,"pressure":1010,"humidity":55,"dew_point":55.13,"uvi":1.34,"clouds":52,"visibility":10000,"wind_speed":6.78,"wind_deg":279,"wind_gust":17.76,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.2,"rain":{"1h":0.21}},{"dt":1654984800,"temp":68.83,"feels_like":68.32,"pressure":1011,"humidity":62,"dew_point":55.29,"uvi":0.56,"clouds":68,"visibility":10000,"wind_speed":2.68,"wind_deg":258,"wind_gust":5.55,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1654988400,"temp":67.03,"feels_like":66.63,"pressure":1011,"humidity":68,"dew_point":56.14,"uvi":0.19,"clouds":84,"visibility":10000,"wind_speed":2.95,"wind_deg":202,"wind_gust":3.04,"weather":[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=1fbaf3fd14a43b07bb690e719b1248a6&lat=44.43932&lon=-69.86769&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.4393,"lon":-69.8677,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1654975696,"sunrise":1654937685,"sunset":1654993422,"temp":73.87,"feels_like":73.69,"pressure":1010,"humidity":58,"dew_point":58.17,"uvi":3.44,"clouds":20,"visibility":10000,"wind_speed":5.75,"wind_deg":210,"wind_gust":19.57,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"minutely":[{"dt":1654975740,"precipitation":0},{"dt":1654975800,"precipitation":0},{"dt":1654975860,"precipitation":0},{"dt":1654975920,"precipitation":0},{"dt":1654975980,"precipitation":0},{"dt":1654976040,"precipitation":0},{"dt":1654976100,"precipitation":0},{"dt":1654976160,"precipitation":0},{"dt":1654976220,"precipitation":0},{"dt":1654976280,"precipitation":0},{"dt":1654976340,"precipitation":0},{"dt":1654976400,"precipitation":0},{"dt":1654976460,"precipitation":0},{"dt":1654976520,"precipitation":0},{"dt":1654976580,"precipitati[...]
[...]
