---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=unsplash_api_key&page=1&per_page=1&query=snow%20denver%20weather
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=unsplash_api_key&page=10000&per_page=1&query=snow+denver+weather>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=unsplash_api_key&page=2&per_page=1&query=snow+denver+weather>;
        rel="next"
      X-Total:
      - '10000'
      X-Per-Page:
      - '1'
      Content-Language:
      - en
      Etag:
      - W/"35241d0d364afe257efd4852cd3f1f2b"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":10000,"total_pages":10000,"results":[{"id":"GwGd5YpGlJk","created_at":"2021-03-19T00:13:59-04:00","updated_at":"2022-06-12T16:18:37-04:00","promoted_at":null,"width":3013,"height":4519,"color":"#8c8c8c","blur_hash":"LBDcUJo#00s.4.MxMxV@?vRjV@Rj","description":null,"alt_description":"red
        traffic light on red","urls":{"raw":"https://images.unsplash.com/photo-1616127053758-72b3c071a2e7?ixid=MnwzMzY5NDN8MHwxfHNlYXJjaHwxfHxzbm93JTIwZGVudmVyJTIwd2VhdGhlcnxlbnwwfHx8fDE2NTUxNDI4NTI\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1616127053758-72b3c071a2e7?crop=entropy\u0026cs=tinysrgb\u0026fm=jpg\u0026ixid=MnwzMzY5NDN8MHwxfHNlYXJjaHwxfHxzbm93JTIwZGVudmVyJTIwd2VhdGhlcnxlbnwwfHx8fDE2NTUxNDI4NTI\u0026ixlib=rb-1.2.1\u0026q=80","regular":"https://images.unsplash.com/photo-1616127053758-72b3c071a2e7?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMzY5NDN8MHwxfHNlYXJjaHwxfHxzbm93JTIwZGVudmVyJTIwd2VhdGhlcnxlbnwwfHx8fDE2NTUxNDI4NTI\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1616127053758-72b3c071a2e7?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMzY5NDN8MHwxfHNlYXJjaHwxfHxzbm93JTIwZGVudmVyJTIwd2VhdGhlcnxlbnwwfHx8fDE2NTUxNDI4NTI\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1616127053758-72b3c071a2e7?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMzY5NDN8MHwxfHNlYXJjaHwxfHxzbm93JTIwZGVudmVyJTIwd2VhdGhlcnxlbnwwfHx8fDE2NTUxNDI4NTI\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1616127053758-72b3c071a2e7"},"links":{"self":"https://api.unsplash.com/photos/GwGd5YpGlJk","html":"https://unsplash.com/photos/GwGd5YpGlJk","download":"https://unsplash.com/photos/GwGd5YpGlJk/download?ixid=MnwzMzY5NDN8MHwxfHNlYXJjaHwxfHxzbm93JTIwZGVudmVyJTIwd2VhdGhlcnxlbnwwfHx8fDE2NTUxNDI4NTI","download_location":"https://api.unsplash.com/photos/GwGd5YpGlJk/download?ixid=MnwzMzY5NDN8MHwxfHNlYXJjaHwxfHxzbm93JTIwZGVudmVyJTIwd2VhdGhlcnxlbnwwfHx8fDE2NTUxNDI4NTI"},"categories":[],"likes":86,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"B1TepQxEajg","updated_at":"2022-06-13T13:14:10-04:00","username":"onthesearchforpineapples","name":"Colin
        Lloyd","first_name":"Colin","last_name":"Lloyd","twitter_username":"otsfpineapples","portfolio_url":"https://cplloyd95.wixsite.com/otsfp","bio":null,"location":"Denver,
        Colorado","links":{"self":"https://api.unsplash.com/users/onthesearchforpineapples","html":"https://unsplash.com/@onthesearchforpineapples","photos":"https://api.unsplash.com/users/onthesearchforpineapples/photos","likes":"https://api.unsplash.com/users/onthesearchforpineapples/likes","portfolio":"https://api.unsplash.com/users/onthesearchforpineapples/portfolio","following":"https://api.unsplash.com/users/onthesearchforpineapples/following","followers":"https://api.unsplash.com/users/onthesearchforpineapples/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1616687073587-63950dc1079cimage?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1616687073587-63950dc1079cimage?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1616687073587-63950dc1079cimage?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"onthesearchforpineapples","total_collections":0,"total_likes":93,"total_photos":1008,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"onthesearchforpineapples","portfolio_url":"https://cplloyd95.wixsite.com/otsfp","twitter_username":"otsfpineapples","paypal_email":null}},"tags":[]}]}'
  recorded_at: Mon, 13 Jun 2022 21:36:23 GMT
recorded_with: VCR 6.1.0
