---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=oH90Drbvwi52RCXqbbP0aZRrXVipBz7ICdEpTde3lKE&page=1&per_page=1&query=snowy%20denver%20weather
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=oH90Drbvwi52RCXqbbP0aZRrXVipBz7ICdEpTde3lKE&page=10000&per_page=1&query=snowy+denver+weather>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=oH90Drbvwi52RCXqbbP0aZRrXVipBz7ICdEpTde3lKE&page=2&per_page=1&query=snowy+denver+weather>;
        rel="next"
      X-Total:
      - '10000'
      X-Per-Page:
      - '1'
      Content-Language:
      - en
      Etag:
      - W/"3d4356485e49a87b5630a1671e287a96"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"total":10000,"total_pages":10000,"results":[{"id":"Ym5oKbreCCs","created_at":"2020-01-10T00:48:16-05:00","updated_at":"2022-06-11T05:10:32-04:00","promoted_at":null,"width":5964,"height":3976,"color":"#264026","blur_hash":"LPA-n%xuWBof.TtRofof9Fozt7kC","description":"Rocky
        Mountain Rolling Plains","alt_description":"green field under blue sky","urls":{"raw":"https://images.unsplash.com/photo-1578635073897-3807ceb9a88d?ixid=MnwzMzY5NDN8MHwxfHNlYXJjaHwxfHxzbm93eSUyMGRlbnZlciUyMHdlYXRoZXJ8ZW58MHx8fHwxNjU0OTkxMzM1\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1578635073897-3807ceb9a88d?crop=entropy\u0026cs=tinysrgb\u0026fm=jpg\u0026ixid=MnwzMzY5NDN8MHwxfHNlYXJjaHwxfHxzbm93eSUyMGRlbnZlciUyMHdlYXRoZXJ8ZW58MHx8fHwxNjU0OTkxMzM1\u0026ixlib=rb-1.2.1\u0026q=80","regular":"https://images.unsplash.com/photo-1578635073897-3807ceb9a88d?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMzY5NDN8MHwxfHNlYXJjaHwxfHxzbm93eSUyMGRlbnZlciUyMHdlYXRoZXJ8ZW58MHx8fHwxNjU0OTkxMzM1\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1578635073897-3807ceb9a88d?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMzY5NDN8MHwxfHNlYXJjaHwxfHxzbm93eSUyMGRlbnZlciUyMHdlYXRoZXJ8ZW58MHx8fHwxNjU0OTkxMzM1\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1578635073897-3807ceb9a88d?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMzY5NDN8MHwxfHNlYXJjaHwxfHxzbm93eSUyMGRlbnZlciUyMHdlYXRoZXJ8ZW58MHx8fHwxNjU0OTkxMzM1\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1578635073897-3807ceb9a88d"},"links":{"self":"https://api.unsplash.com/photos/Ym5oKbreCCs","html":"https://unsplash.com/photos/Ym5oKbreCCs","download":"https://unsplash.com/photos/Ym5oKbreCCs/download?ixid=MnwzMzY5NDN8MHwxfHNlYXJjaHwxfHxzbm93eSUyMGRlbnZlciUyMHdlYXRoZXJ8ZW58MHx8fHwxNjU0OTkxMzM1","download_location":"https://api.unsplash.com/photos/Ym5oKbreCCs/download?ixid=MnwzMzY5NDN8MHwxfHNlYXJjaHwxfHxzbm93eSUyMGRlbnZlciUyMHdlYXRoZXJ8ZW58MHx8fHwxNjU0OTkxMzM1"},"categories":[],"likes":26,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"t2RB-3lbgSk","updated_at":"2022-06-11T13:17:36-04:00","username":"rdehamer","name":"Ryan
        De Hamer","first_name":"Ryan","last_name":"De Hamer","twitter_username":null,"portfolio_url":"http://www.dehamermedia.com","bio":"Denver
        -\u003e Anywhere\r\nMy images are collected all around the country working
        with brands, athletes and fitness influencers","location":null,"links":{"self":"https://api.unsplash.com/users/rdehamer","html":"https://unsplash.com/es/@rdehamer","photos":"https://api.unsplash.com/users/rdehamer/photos","likes":"https://api.unsplash.com/users/rdehamer/likes","portfolio":"https://api.unsplash.com/users/rdehamer/portfolio","following":"https://api.unsplash.com/users/rdehamer/following","followers":"https://api.unsplash.com/users/rdehamer/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1577912636161-6a3ada136470image?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1577912636161-6a3ada136470image?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1577912636161-6a3ada136470image?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"Ryan_dehamer","total_collections":6,"total_likes":0,"total_photos":69,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"Ryan_dehamer","portfolio_url":"http://www.dehamermedia.com","twitter_username":null,"paypal_email":null}},"tags":[]}]}'
  recorded_at: Sat, 11 Jun 2022 23:48:55 GMT
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=oH90Drbvwi52RCXqbbP0aZRrXVipBz7ICdEpTde3lKE&page=1&per_page=1&query=snow%20denver%20weather
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is[...]
