---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=unsplash_api_key&page=1&per_page=1&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=unsplash_api_key&page=5415&per_page=1&query=denver%2Cco>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=unsplash_api_key&page=2&per_page=1&query=denver%2Cco>;
        rel="next"
      X-Total:
      - '5415'
      X-Per-Page:
      - '1'
      Content-Language:
      - en
      Etag:
      - W/"d456015e784affc1ec2f03de4e2f3895"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":5415,"total_pages":5415,"results":[{"id":"zSm5JPgNeuc","created_at":"2021-08-16T21:22:29-04:00","updated_at":"2022-06-11T12:21:56-04:00","promoted_at":"2022-02-24T20:24:02-05:00","width":4392,"height":6588,"color":"#d9c0c0","blur_hash":"LaJ@:y%2%fWB~q%2IoaxE1f7M{WV","description":"Boho
        Girl\n\nModel : @peanutphysique","alt_description":"woman in white tank top
        sitting on brown wooden chair","urls":{"raw":"https://images.unsplash.com/photo-1629163330223-c183571735a1?ixid=MnwzMzY5NDN8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2NTQ5OTMzMDE\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1629163330223-c183571735a1?crop=entropy\u0026cs=tinysrgb\u0026fm=jpg\u0026ixid=MnwzMzY5NDN8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2NTQ5OTMzMDE\u0026ixlib=rb-1.2.1\u0026q=80","regular":"https://images.unsplash.com/photo-1629163330223-c183571735a1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMzY5NDN8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2NTQ5OTMzMDE\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1629163330223-c183571735a1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMzY5NDN8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2NTQ5OTMzMDE\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1629163330223-c183571735a1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMzY5NDN8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2NTQ5OTMzMDE\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1629163330223-c183571735a1"},"links":{"self":"https://api.unsplash.com/photos/zSm5JPgNeuc","html":"https://unsplash.com/photos/zSm5JPgNeuc","download":"https://unsplash.com/photos/zSm5JPgNeuc/download?ixid=MnwzMzY5NDN8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2NTQ5OTMzMDE","download_location":"https://api.unsplash.com/photos/zSm5JPgNeuc/download?ixid=MnwzMzY5NDN8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2NTQ5OTMzMDE"},"categories":[],"likes":89,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"fashion":{"status":"approved","approved_on":"2022-05-26T05:35:25-04:00"},"spirituality":{"status":"approved","approved_on":"2022-02-25T12:59:43-05:00"}},"user":{"id":"FZ9entlYhv0","updated_at":"2022-06-08T20:10:22-04:00","username":"tayloradaugherty","name":"Taylor
        Daugherty","first_name":"Taylor","last_name":"Daugherty","twitter_username":null,"portfolio_url":"http://taylordaugherty.com","bio":"IG:
        Tayloradaugherty\r\n Buy My Presets! https://td-digital-assets.sellfy.store/p/lightroom-fitness-presets/","location":"Saint
        Petersburg, Florida","links":{"self":"https://api.unsplash.com/users/tayloradaugherty","html":"https://unsplash.com/es/@tayloradaugherty","photos":"https://api.unsplash.com/users/tayloradaugherty/photos","likes":"https://api.unsplash.com/users/tayloradaugherty/likes","portfolio":"https://api.unsplash.com/users/tayloradaugherty/portfolio","following":"https://api.unsplash.com/users/tayloradaugherty/following","followers":"https://api.unsplash.com/users/tayloradaugherty/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1629165748557-ebeca78a15c3image?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1629165748557-ebeca78a15c3image?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1629165748557-ebeca78a15c3image?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"tayloradaugherty","total_collections":0,"total_likes":0,"total_photos":69,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"tayloradaugherty","portfolio_url":"http://taylordaugherty.com","twitter_username":null,"paypal_email":null}},"tags":[{"type":"search","title":"denver"},{"type":"search","title":"co"},{"type":"search","title":"usa"}]}]}'
  recorded_at: Sun, 12 Jun 2022 18:52:05 GMT
recorded_with: VCR 6.1.0
